<section class="relative w-screen overflow-x-hidden">
    <section id="entrancecover" class="fixed origin-bottom h-screen grid place-content-center z-50 bg-orange-950 w-screen inset-0">
        <div class="flex items-center gap-1 text-6xl lg:text-9xl font-semibold text-white">
            <p class="w-max overflow-hidden">
                <span class="oneletter block">N</span>
            </p>
            <p class="w-max overflow-hidden">
                <span class="oneletter block">O</span>
            </p>
            <p class="w-max overflow-hidden">
                <span class="oneletter block">V</span>
            </p>
            <p class="w-max overflow-hidden">
                <span class="oneletter block">A</span>
            </p>
        </div>
    </section>
    <app-herosection />
    <app-whyus />
    <app-project />
    <app-process />
    <app-pricing />
    <app-testimonials />
    <app-faq />
    <app-cta />
    <app-footer />
</section>