<section class="lg:h-[100vh] lg:p-6 p-4 relative bg-gray-950 overflow-hidden text-white">
  <div class="absolute overlay1 left-1 top-1 z-0 bg-orange-600 size-[100rem] blur-3xl opacity-20 rounded-full"></div>
  <div class="absolute overlay2 right-1 top-1 z-0 bg-orange-600 size-[90rem] blur-3xl opacity-20 rounded-full"></div>

  <app-navbar />
  <section
    class="grid mt-5 relative z-40 lg:mt-16 lg:grid-cols-2 gap-5 h-max lg:h-[65vh] items-center lg:gap-20 w-[80vw] mx-auto"
  >
    <div>
      <h1 class="text-3xl lg:text-5xl">
        On transforme vos idées en Sites web, modernes intuitives et
        inspirantes.
      </h1>

      <div class="mt-10">
        <a href="" class="p-3 px-12 hover:bg-orange-100 duration-300 hover:text-orange-600 rounded-full w-max bg-orange-500 grid place-content-center">
            <span>Reserver un appel</span>
          </a>
      </div>
    </div>
    <div class="h-full w-full bg-orange-500 rounded-2xl"></div>
  </section>
</section>
