<section class="lg:h-[100vh] lg:p-6 p-4 relative bg-gray-950 overflow-hidden text-white">
  <div class="absolute overlay1 left-1 top-1 z-0 bg-orange-600 size-[100rem] blur-3xl opacity-20 rounded-full"></div>
  <div class="absolute overlay2 right-1 top-1 z-0 bg-orange-600 size-[90rem] blur-3xl opacity-20 rounded-full"></div>
  <div class="absolute h-full w-full z-10 grid lg:left-20 lg:grid-cols-5 gap-2 justify-center">
    <div class="w-[10vw] border-r border-l border-gray-600/10"></div>
    <div class="w-[10vw] border-r border-l border-gray-600/10"></div>
    <div class="w-[10vw] border-r border-l border-gray-600/10"></div>
    <div class="w-[10vw] border-r border-l border-gray-600/10"></div>
    <div class="w-[10vw] border-r border-l border-gray-600/10"></div>
  </div>

  <app-navbar />
  <section
    class="grid mt-5 relative z-40 lg:mt-16 lg:grid-cols-2 gap-5 h-max lg:h-[60vh] items-center lg:gap-32 lg:w-[85vw] mx-auto"
  >
    <div>
      <h1 class="text-3xl lg:text-5xl">
        On transforme vos idées en Sites web modernes, intuitives et
        inspirantes.
      </h1>

      <div class="mt-10">
        <a href="" class="p-3 px-12 hover:bg-orange-100 duration-300 border border-orange-600/20 hover:text-orange-600 rounded-full w-max bg-orange-500 grid place-content-center">
            <span>Reserver un appel</span>
          </a>
      </div>
    </div>
    <div class="h-full w-full  rounded-2xl grid grid-cols-2 gap-4">
      <div class="rounded-2xl h-[30vh] overflow-hidden ring-4 ring-white/10">
        <img src="/assets/website1.webp " class="h-full w-full object-cover" alt="">
      </div>
      <div class="rounded-2xl h-[30vh] overflow-hidden ring-4 ring-white/10">
        <img src="/assets/website2.webp " class="h-full w-full object-cover" alt="">
      </div>
      <div class="rounded-2xl h-[30vh] overflow-hidden col-span-2 ring-4 ring-white/10">
        <img src="/assets/website1.webp " class="h-full w-full object-cover" alt="">
      </div>
      
    </div>
  </section>

  <!-- Marquee -->
  <div class="">
    <div class="marquee-container mt-20 relative rounded-full overflow-hidden">
      <div class="absolute w-32 h-full bg-gradient-to-r from-orange-950/90 to-transparent blur-md z-50 left-0"></div>
      <div class="absolute w-32 h-full bg-gradient-to-l from-orange-950/90 to-transparent blur-md z-50 right-0"></div>
      <div class="marquee-content relative z-10">
        <!-- First set of logos -->
        <div class="flex space-x-8 items-center">
          <img src="assets/ibm-logo-white.png" alt="logo" class="h-12 w-auto">
          <img src="assets/microsoft.png" alt="logo" class="h-12 w-auto">
          <img src="assets/paypal.png" alt="logo" class="h-12 w-auto">
          <img src="assets/google-white.png" alt="logo" class="h-12 w-auto">
          <img src="assets/Renault.png" alt="logo" class="h-12 w-auto">
          <img src="assets/paypal.png" alt="logo" class="h-12 w-auto">
          <img src="assets/google-white.png" alt="logo" class="h-12 w-auto">
          <img src="assets/Renault.png" alt="logo" class="h-12 w-auto">
          
        </div>
        <!-- Duplicate set for seamless loop -->
        <div class="flex space-x-8 ml-6 items-center">
          <img src="assets/ibm-logo-white.png" alt="logo" class="h-12 w-auto">
          <img src="assets/microsoft.png" alt="logo" class="h-12 w-auto">
          <img src="assets/paypal.png" alt="logo" class="h-12 w-auto">
          <img src="assets/google-white.png" alt="logo" class="h-12 w-auto">
          <img src="assets/Renault.png" alt="logo" class="h-12 w-auto">
          <img src="assets/paypal.png" alt="logo" class="h-12 w-auto">
          <img src="assets/google-white.png" alt="logo" class="h-12 w-auto">
          <img src="assets/Renault.png" alt="logo" class="h-12 w-auto">
        </div>
      </div>
    </div>
    
  </div>
</section>
