/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Manrope", serif;
}


.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: scroll 10s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Optional: Pause animation on hover */
.marquee-content:hover {
  animation-play-state: paused;
}


::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    z-index: 100;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #e99f0d; /* gray-700 */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2d3748; /* gray-800 */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #020c15fb;
    border-radius: 4px;
    /* gray-100 */
  }
  